lab6/ksiazka.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.inf.ug.edu.pl/xsd/ksiazka" xmlns="https://www.inf.ug.edu.pl/xsd/ksiazka" elementFormDefault="qualified">
  <xs:element name="Książka">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Autor" type="xs:string"/>
        <xs:element name="Tytuł" type="xs:string"/>
        <xs:element name="Wydawnictwo" type="xs:string"/>
        <xs:element name="RokWydania" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
